---
import Container from "./Container.astro";

export interface Props {
    textClass?: string;
}

const { textClass } = Astro.props;

// Define text color classes 
const mainTextClass = textClass || "text-gray-600";
const subtleTextClass = textClass || "text-gray-500";
const emphasisTextClass = textClass || "text-gray-600";

---

<footer class="py-10">
    <Container>
      <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
        <div class="flex flex-wrap items-center justify-center md:flex-nowrap">
          <div class={`flex flex-col items-center justify-center gap-6 sm:flex-row sm:gap-12 ${mainTextClass}`}>
            <!-- <ul class="list-inside list-disc space-y-8">
              <li><a href="#" class="transition hover:text-primary">Home</a></li>
            </ul> -->
            <ul role="list" class="space-y-8">
              <li>
                <a href="https://studentsunionucl.org/clubs-societies/quantum-society" target="_blank" class="flex items-center space-x-3 transition hover:text-primary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      class="w-5"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm6.93 7H13.94a13.01 13.01 0 0 0-1.07-3.07A6.97 6.97 0 0 1 14.93 7zM8 1.07c1.38 0 2.67.47 3.7 1.26-.42.53-.8 1.17-1.13 1.87A13.02 13.02 0 0 0 8 3c-.57 0-1.13.03-1.67.09-.33-.7-.71-1.34-1.13-1.87A6.97 6.97 0 0 1 8 1.07zM3.13 2.93c.42.53.8 1.17 1.13 1.87A13.01 13.01 0 0 0 2.06 7H1.07A6.97 6.97 0 0 1 3.13 2.93zM1.07 9h.99a13.01 13.01 0 0 0 1.07 3.07c-.33.7-.71 1.34-1.13 1.87A6.97 6.97 0 0 1 1.07 9zm2.06 4.07c.42-.53.8-1.17 1.13-1.87A13.02 13.02 0 0 0 8 13c.57 0 1.13-.03 1.67-.09.33.7.71 1.34 1.13 1.87A6.97 6.97 0 0 1 8 14.93a6.97 6.97 0 0 1-4.87-1.86zm9.8 1.86c-.42-.53-.8-1.17-1.13-1.87A13.01 13.01 0 0 0 13.94 9h.99a6.97 6.97 0 0 1-1.13 4.93zM8 12c-.46 0-.91-.02-1.35-.06.3-.64.62-1.34.91-2.09.29.75.61 1.45.91 2.09A11.97 11.97 0 0 1 8 12zm-2.01-.22A11.03 11.03 0 0 1 3.94 9h2.37c-.22.65-.44 1.29-.65 1.89-.19.53-.39 1.03-.59 1.49zm4.02 0c-.2-.46-.4-.96-.59-1.49-.21-.6-.43-1.24-.65-1.89h2.37a11.03 11.03 0 0 1-1.13 2.78zM3.94 7a11.03 11.03 0 0 1 1.13-2.78c.2.46.4.96.59 1.49.21.6.43 1.24.65 1.89H3.94zm4.06 0c-.3-.75-.61-1.45-.91-2.09.44-.04.89-.06 1.35-.06.46 0 .91.02 1.35.06-.3.64-.62 1.34-.91 2.09zm4.06 0h-2.37c.22-.65.44-1.29.65-1.89.19-.53.39-1.03.59-1.49A11.03 11.03 0 0 1 12.06 7z"
                      />
                    </svg>
                  <span>Membership</span>
                </a>
              </li>
            </ul> 
            <ul role="list" class="space-y-8">
              <li>
                <a href="https://www.instagram.com/uclqsociety/" target="_blank" class="flex items-center space-x-3 transition hover:text-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="w-5"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                    />
                  </svg>
                  <span>Instagram</span>
                </a>
              </li>
            </ul>
            <ul role="list" class="space-y-8">
              <li>
                <a href="https://www.linkedin.com/company/ucl-quantum-society" target="_blank" class="flex items-center space-x-3 transition hover:text-primary">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="w-5"
                    viewBox="0 0 16 16"
                    >
                    <path
                      d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c-.837 0-1.358-.554-1.358-1.248 0-.706.533-1.248 1.387-1.248.854 0 1.358.542 1.358 1.248 0 .694-.504 1.248-1.387 1.248zm4.908 8.212V9.359c0-.215.016-.43.08-.584.175-.43.574-.876 1.244-.876.878 0 1.23.662 1.23 1.634v3.861h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.026h-.016a5.44 5.44 0 0 1 .016-.026V6.169h-2.4c.03.7 0 7.225 0 7.225h2.4z"
                    />
                    </svg>
                  <span>Linkedin</span>
                </a>
              </li>
            </ul>            
          </div>
          <!-- <div
            class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left"
          >
            <span class={`block ${subtleTextClass}`}
              >We change the way UI components librairies are used</span
            >
  
            <span class={`block ${subtleTextClass}`}>Tailus Blocks &copy; <span id="year"></span></span>
  
            <span class={`flex justify-between ${emphasisTextClass}`}>
              <a href="#" class="font-medium">Terms of Use </a>
              <a href="#" class="font-medium"> Privacy Policy</a>
            </span>
  
            <span class={`block ${subtleTextClass}`}
              >Need help? <a href="#" class={`font-semibold ${emphasisTextClass}`}> Contact Us</a></span
            >
          </div> -->
        </div>
      </div>
    </Container>
</footer>